[submodule "classlib"]
	path = classlib
	url = https://github.com/fjhickernell/HickernellClassLib.git
[submodule "qmcsoftware"]
	path = qmcsoftware
	url = https://github.com/QMCSoftware/QMCSoftware.git
